<div class="credits">
    <div class="container">
        <div class="row">
            <div class="span8">
                <p>&copy; {{ "now"|date("Y") }} {{ theme.companyNameText }} &middot; All Rights Reserved. </p>
            </div>
            <div class="span4 text-right hidden-phone">
                <p>eCommerce theme by <a href="http://www.twindots.com/" title="Responsive eCommerce template">Twin Dots</a>, powered by <a href="https://lemonstand.com">LemonStand</a></p>
            </div>
        </div>
    </div>
</div>