{{ code_block('setup') }}

<meta charset="UTF-8">
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/png" href="{{ theme.faviconImage.thumbnail('16', '16') }}"/>

<title>{{ page.title }} | {{ theme.companyNameText }}</title>

<link rel="stylesheet" type="text/css" href="{{ 'css/combined.min.css'|theme_resource }}">
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<!-- If you want to add custom styles, uncomment the stylesheet below. -->
<!-- <link rel="stylesheet" type="text/css" href="{{ 'css/custom.css'|theme_resource }}"> -->

<link rel="stylesheet" type="text/css" href="{{ theme.colorThemeDropdown|theme_resource }}" id="color_scheme">

<link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic|Shadows+Into+Light" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="{{ 'javascript/html5shiv.js'|theme_resource }}"></script>
<![endif]-->

<script type="text/javascript" src="{{ 'javascript/combined.min.js'|theme_resource }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="/cms/core.js"></script>