<nav class="navigation">
    <div class="container">
        <div class="row">
            <div class="span8">
                <a href="#" class="main-menu-button">Navigation</a>
                <!-- Begin Menu Container -->
                <div class="megamenu_container">
                    <div class="menu-main-navigation-container">
                        <ul id="menu-main-navigation" class="main-menu">
                            <li class="{{ active_page == 'home' ? 'active' : null }} menu-item-home menu-item-has-children megamenu-parent"><a href="{{ site_url('/') }}">Home</a></li>
                            <li class="menu-item-has-children"><a href="{{ site_url('shop') }}">Shop</a>
                                {% if categories.count %}
                                {% tree categories %}
                                <ul class="sub-menu">
                                    {% for category in tree.items %}
                                    <li>
                                        <a href="/category/{{ category.fullUrlName }}">{{ category.name }}</a>
                                        {% branch category.children %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endtree %}
                                {% endif %}
                            </li>
                            
                        </ul>
                        {{ widget_block("header-menu") }}
                        <script type="text/javascript"> 
                            $(".menu-main-navigation-container ul").not(".main-menu .sub-menu").children().appendTo("ul#menu-main-navigation");
                        </script>
                    </div>
                </div>
            </div>
            <div class="span4 visible-desktop">
                {{ code_block('breadcrumbs') }}
            </div>
        </div>
    </div>
</nav>