<div class="row-fluid">
    <div class="span12">
        <div class="box">

            <h3>Change your password</h3>
            <h5>Need to change your password? Don't worry, it's easy! Just fill out the form below.</h5>

            {{ open_form({'data-ajax-handler': 'shop:onChangePassword', 'class': 'custom', 'data-ajax-update': '#change_password=shop-changepassword', 'data-validation-message' : ''}) }}

                    {{ flash() }}
                    <div class="row-fluid">
                        <div class="span6">

                                <label for="password">New password</label>
                                <input class="span12" id="password" name="password" type="password" value="">
                                <span class="error"></span>


                        </div>
                        <div class="span6">

                                <label for="passwordConfirm">New password (again)</label>
                                <input class="span12" id="passwordConfirm" name="passwordConfirm" type="password" value="">
                                    <span class="error"></span>


                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">

                                <label for="oldPassword">Old password</label>
                                <input class="span12" id="oldPassword" name="oldPassword" type="password" value="">
                                    <span class="error"></span>


                        </div>
                    </div>

                <div class="buttons">
                    <input  class="btn btn-primary btn-large" type="submit" value="Change my password"/>
                </div>
                <input type="hidden" name="flash" value="Your password has been successfully changed."/>
                <input type="hidden" name="redirect" value="{{ root_url('/change-password') }}"/>
            </form>
        </div>
    </div>
</div>
