<div class="review-view-container">
				<a title="Close" data-dismiss="modal" class="review-close-icon"><i class="glyphicon glyphicon-remove icon-remove pull-right"></i></a> 
				<h1>Review {{ product.name }}</h1>

				{{ flash() }}
				{{ open_form({'data-ajax-handler': 'system:onSendMessage'}) }}

					<input type="text" class="input-sm form-control" id="contact_name" name="fields[name]" value="" placeholder="Your name"/>
					<span class="error"></span>


					<input type="text" class="input-sm form-control" id="contact_email" name="fields[email]" value="" placeholder="Email address"/>
					<span class="error"></span>


					<input type="text" class="input-sm form-control" id="subject" name="fields[subject]" value="" placeholder="Title for your review"/>
					<span class="error"></span>


					<textarea class="input-sm form-control" id="contact_message" name="fields[message]" value="" rows="10" placeholder="Your review"></textarea>
					<span class="error"></span>

					<div class="rating">
						<span id="love">☆</span><span id="like">☆</span><span id="ok">☆</span><span id="dont-like">☆</span><span id="hate">☆</span>
						<p>&nbsp;</p>
					</div>

					<select style="display:none" id="item_rating" name="fields[item_rating]">
						<option value="" diabled>-</option>
						<option value="1">&starf;&star;&star;&star;&star;</option>
						<option value="2">&starf;&starf;&star;&star;&star;</option>
						<option value="3">&starf;&starf;&starf;&star;&star;</option>
						<option value="4">&starf;&starf;&starf;&starf;&star;</option>
						<option value="5">&starf;&starf;&starf;&starf;&starf;</option>
					</select>

					<span class="error"></span>
					
					<input type="submit" data-dismiss="modal" class="button call-to-action btn btn-primary btn-large" value="Submit" style="width: 100%"/>
					<input type="text" name="hp" value="" style="display: none"/>
					<input type="hidden" name="fields[shop_customer_id]" value="{{customer.id}}"/>
					<input type="hidden" name="fields[shop_product_id]" value="{{product.id}}"/>
					<input type="hidden" name="fields[message_type]" value="review"/>

				{{ close_form() }}

			</div>
