{% if paymentMethod is defined %}
    {% if paymentMethod.isLegacy() %}
        <p>
            This payment method type is no longer supported. Create a standard or custom method.
        </p>
    {% elseif paymentMethod.isStandard() %}
        <!-- Render iFrame payment form if a standard-type payment method. -->
        {% if hasFeature('saved-cards') %}
            {% set saved_card_enabled = true %}
        {% else %}
            {% set saved_card_enabled = false %}
        {% endif %}
        {{ paymentForm({
                options: {
                    number: {
                        placeholder: 'Card number',
                    },
                    cvv: {
                        placeholder: '***',
                    },
                    full_name: {
                        placeholder: 'Cardholder name',
                    },
                    expiry: {
                        placeholder: 'MM/YYYY',
                    },
                    submit: {
                        value: 'Pay Now'
                    },
                    save_card: {
                        label: 'Save Card',
                        enabled: saved_card_enabled
                    }
                }
            },
            paymentMethod
        ) }}
    {% elseif paymentMethod.isCustom() %}
        {% set name = paymentMethod.getFrontendPartialName() %}
        {{ partial(name, {paymentMethod: paymentMethod, payment: payment}) }}
    {% endif %}
{% else %}
    <p>
      This payment method has no payment form.
    </p>
    <div class="box-footer">
        <div class="pull-left">
            <a class="btn btn-small" href="#"
            data-ajax-handler="shop:checkout"
            data-ajax-update="#checkout-page=shop-checkout, #checkout-progress=shop-checkout-progress, #mini-cart=shop-minicart"
            data-ajax-extra-fields="nextStep=review">
            <i class="icon-chevron-left"></i> &nbsp; Order Review
            </a>
        </div>
    </div>
  {% endif %}
{% endif %}