{% if invalidHash %}
    <span class="error">Invalid or expired link.</span>
{% endif %}
<section class="reset_password">
<div class="container">
        <div class="row">
        {{ flash() }}
            <div class="span6 offset3">
                    <div class="box">
                        <div class="hgroup title">
                            <h3>Forgotten your password?</h3>
                            <h5>Don't worry! Enter your email address below and we'll reset it for you.</h5>
                        </div>

                        <div class="box-content">

                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <label class="control-label" for="email">Email</label>
                                        <div class="controls">
                                            <input class="span12" type="text" id="email" name="email" value="" />
                                            <span class="error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="buttons">
                        <input type="hidden" name="requestPasswordRestore" value="1">
                        <input type="hidden" name="successMessage" value="Password restore email was sent."/>
                            <button class="btn btn-primary btn-small" type="submit" name="passwordRestoreSubmit" value="Submit">
                                Reset my password
                            </button>                                            
                        </div>
                    </div>
            </div>
        </div>
    </div>	
</section>                
<!-- End Reset password -->