{% if itemCount %}
    <div class="container">
        <div class="row">
            <div class="span9">
                <!-- Cart -->
                <div class="box">
                    <div class="box-header">
                        {{ flash() }}
                        <h3>Shopping cart</h3>
                        <h5>You currently have <strong>{{ cart.getItemNum() }}</strong> item(s) in your cart</h5>
                    </div>
    
                    <!-- Cart Items -->
                    {{ partial('shop-cart-items', {'edit_cart': true}) }}
                    <!-- End Cart Items -->
    
                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="/shop" class="btn btn-small">
                            <i class="icon-chevron-left"></i> &nbsp; Continue shopping
                            </a>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-small mm20" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart">
                            <i class="icon-undo"></i> &nbsp; Update cart
                            </button>
    
                            {% if customer %}
                            <a class="btn btn-primary btn-small mm20" href="{{ site_url('/checkout') }}">Checkout</a>
                            {% else %}
                            <a class="btn btn-primary btn-small mm20" href="{{ site_url('/checkout-start') }}">Checkout</a>
                            {% endif %}
    
                        </div>
                    </div>
                </div>
                <!-- End Cart -->
                <!-- Shipping estimator -->
                <!--<div class="box">
                    <form enctype="multipart/form-data" action="#" method="post" onsubmit="return false;">
                        <div class="box-header">
                            <h3>Shipping estimator</h3>
                            <h5>Get an estimated shipping cost for your order</h5>
                        </div>
                        <div class="box-content">
                            <div class="row-fluid">
                                <div class="span4">
                                    <label for="country">Country</label>
                                    <select class="span12" id="country" name="country">
                                        <option value="3" >Australia</option>
                                        <option value="2" >Canada</option>
                                        <option value="17" selected="selected">United Kingdom</option>
                                        <option value="1" >United States</option>
                                    </select>
                                </div>
                                <div class="span4">
                                    <label for="state">State</label>
                                    <div id="shipping_states">
                                        <select class="span12" id="state" name="state">
    
                                        </select>
                                    </div>
                                </div>
                                <div class="span4">
                                    <label>ZIP</label>
                                    <input class="span12 zip" type="text" name="zip" value=""/>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <a class="btn btn-small" href="#" onclick="$('#shipping').modal('show');return false;">Estimate shipping cost</a>
                        </div>
                    </form>
                </div>-->
                <!-- End Shipping estimator -->
                <!-- Shipping modal -->
                <div id="shipping" class="modal hide fade" tabindex="-1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <div class="hgroup title">
                            <h3>Shipping estimator</h3>
                            <h5>Get an estimated shipping cost for your order</h5>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div id="shipping_options">
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                                <tr>
                                    <td>Free shipping</td>
                                    <td>Delivered to your letterbox within 7-14 working days</td>
                                    <td>£0.00</td>
                                </tr>
                                <tr>
                                    <td>Standard</td>
                                    <td>Delivered to your letterbox within 5 working days</td>
                                    <td>£4.95</td>
                                </tr>
                                <tr>
                                    <td>Speedy</td>
                                    <td>Delivered to your letterbox within 3 working days</td>
                                    <td>£8.95</td>
                                </tr>
                            </table>
    
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <a href="checkout.html" class="btn btn-primary btn-small">
                            Proceed to checkout &nbsp; <i class="icon-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Shipping modal -->
            </div>
            <div class="span3">
    
                <!-- Cart details -->
                <div class="cart-details">
                   <div class="box">
                        <div class="hgroup title">
                            <h3>Order totals</h3>
                            <h5>Shipping costs and taxes will be evaluated during checkout</h5>
                        </div>
                        <ul class="price-list">
                            {% if totals.discountTotal > 0 %}
                                <li>Discount: <strong>{{ totals.discountTotal|currency }}</strong></li>
                            {% endif %}
                            <li>Subtotal: <strong>{{ totals.subtotal|currency }}</strong></li>
                            {% if totals.totalShippingQuote > 0 %}
                                <li>Shipping: <strong>{{ totals.totalShippingQuote|currency }}</strong></li>
                            {% endif %}
                            <li class="important">Total: <strong>{{ totals.total|currency }}</strong></li>
                        </ul>
                    </div>
                </div>
                <!-- End class="cart-details" -->
    
                <!-- Coupon -->
                <div class="coupon">
                    <div class="box">
                        <div class="hgroup title">
                            <h3>Coupon code</h3>
                            <h5>Enter your coupon here to redeem</h5>
                        </div>
    
                        <label for="coupon_code">Coupon code</label>
                        <div class="input-append">
                            <input id="coupon_code" value="{{ coupon_code }}" type="text" name="coupon" />
                            <button type="submit" class="btn" value="Apply" name="set_coupon_code" >
                            <i class="icon-ok"></i>
                            </button>
                        </div>
    
                    </div>
                </div>
                <!-- End class="coupon" -->
            </div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="span12 text-center">
                {{ flash() }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <a class="btn btn-primary" href="{{ site_url('shop') }}">Your cart is empty! Continue shopping.</a>
            </div>
        </div>
    </div>
{% endif %}