
.extra label.title input[type='checkbox'] { margin: 0 0 0 0; }
.volume-pricing-table tr td { padding: 5px 10px 5px 10px; width: 100px; }
.volume-pricing-table tr { border: 1px solid #ccc; }
.volume-pricing-table thead td { background-color: #ddd; font-weight:bold;}
.attributes-table {margin-top: 0;}
.attributes-table tr { border: 1px solid #ccc; }
.attributes-table tr td { padding: 5px 10px 5px 10px; width: 100px; }
.stock-level { font-weight: bold; margin-bottom: 5px;  }
.basic-page-back { background-color: #fff; padding-top: 25px; padding-bottom: 25px; }
ul.sub-group li { list-style-type: none; }
ul.sub-group li a { text-decoration: none; }
.categories h3, .categories ul.sub-group { padding-left: 10px; }
.category-content { padding-left: 10px; }
.review-view-container { padding: 40px; }
.product-rating-container { margin-bottom: 25px; }
.product-rating-container a { text-decoration: none; }
.modal { display: none; }
.review-close-icon { font-size: 28px; cursor: pointer; text-decoration: none;}
.related-items li { list-style-type: none;  }
.related-items li a { text-decoration: none; }
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 3.15733em; }
  .rating span {
    color: #555;
    display: inline-block;
    position: relative;
    cursor: pointer; }
  .rating span:hover, .rating span:hover ~ span {
    color: transparent; }
  .rating span:hover:before, .rating span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold; }
  .rating span.select {
    color: transparent; }
  .rating span.select:before {
    content: "\2605";
    position: absolute;
    color: gold; }
  .rating p {
    font-size: 0.5em;
    margin: 0.25em 0 1.5em 0;
    color: #555; }

/*Custom Styles*/