---
action: 'shop:customerProfile'
template: inner
protocol: all
published: true
name: Profile
url: /profile
---
<div class="container">
  <div class="row">
    <div class="span12">
      {% if customer %}
        <section id="profile-addresses">
        {{ partial('shop-customerprofile') }}
        {{ partial('shop-changepassword') }}
        <!-- Using hasFeature helper method to check whether card variables should be accessed. -->
            {% if hasFeature('saved-cards') %}
                {% set editedCard = '' %}
                
                <div id="profile-edit-card">
                    {{ partial('shop-customerprofile-edit-card') }}
                </div>

                {{ code_block('script') }}
            {% endif %}
        </section>
      {% else %}
        Please <a href="{{ root_url('login') }}">login</a> to edit your profile.
      {% endif %}
    </div>
  </div>
</div>
