<!DOCTYPE html>
<html dir="ltr" lang="en" class="no-js">
    <head>        
        {{ partial("layout-head") }}
    </head>
    <body>
        <div class="wrapper">
        <!-- Header -->
            {{ partial("layout-header") }}
        <!-- End Header -->
        
        <!-- Navigation -->
            {{ partial("navigation") }}
        <!-- End class="navigation" -->

        <!-- Content section -->		
            <section class="main">
                {{ page() }}
            </section>
        <!-- End class="main" -->
 
        <!-- Footer -->
            {{ partial("layout-footer") }}
        <!-- End id="footer" -->            
            
        <!-- Credits bar -->
            {{ partial("credits-bar") }}
        <!-- End class="credits" -->            
        </div>
    </body>
</html>